html {
  width: 661px;
  height: 763px;
  box-sizing: border-box;
  font-size: 48px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #c4c4c4;
  width: 100%;
  height: 100%;
}

.search-bar {
  display: inline-block;
  width: 100%;
  margin: 10px 15px;
  padding: 0;
}

.search-bar__wrapper {
  background-color: #ffffff;
  width: fit-content;
}

.search-bar__input {
  padding: 10px;
  background-color: #ffffff;
  outline: none;
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 48px;
}

.search-bar__list {
  padding: 0;
  margin: 0;
}

.search-bar__result {
  padding: 10px;
  list-style: none;
  font-size: 30px;
  background-color: #e3e3e3;
  cursor: pointer;
}

.search-bar__result:hover {
  background-color: #65cdf9;
}

.added-repos {
  font-size: 24px;
  width: 100%;
  height: 50%;
  margin: 10px 15px;
}

.repo {
  display: inline-flex;
  justify-content: space-around;
  background-color: #e27beb;
  border: 1px black;
  width: 80%;
  padding: 10px 0;
}

.info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.info__block {
  display: inline-flex;
}

.block__label {
  margin-right: 10px;
}

.repo__remove {
  background: none;
  color: #ff0000;
  border: none;
  padding: 0;
  font-size: 67px;
  cursor: pointer;
  outline: inherit;
}
